* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > * {
    min-height: 100vh;
    padding: 2px;
    margin: 2px;
    border: 2px solid black;
    font-size: 20px;
    font-family: sans-serif;
}

.main-layout > * {
    padding: 2px;
    margin: 2px;
    border: 2px solid red;
}

.main-layout {
    display: grid;
    grid-template-columns: 120px 300px 2fr;
}

/* LEFT SIDE - ICON LIST */

.icon-list > li {
    padding: 2px;
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid orange;
    border-radius: 50%;
}

.icon-list {
    list-style-type: none;
}

/* MAIN SIDE */

.sidebar > * {
    padding: 2px;
    margin: 10px;
    border: 2px solid orange;
}

.invite-people {
    text-align: center;
}

.space {
    height: 365px;
}

.username > * {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.pic-sm {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid blue;
}

/* RIGHT SIDE */

.right-side-bar {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
}

.four-column-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.class-five, .space-two, .settings-list {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

.settings-list > * {
    height: 32px;
    width: 32px;
    padding: 2px;
    margin: 5px;
    border: 2px solid green;
}

.search-bar {
    width: 200px;
    color: grey;
    background-color: lightgray;
    border-radius: 10px;
}

.settings-list {
    list-style-type: none;
}

.grid-auto-column {
    display: grid;
    grid-auto-flow: column;
}

.right-bar-empty {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
    height: 590px;
}

.right-bar-welcome {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
    height: 300px;
}

.welcome, .steven-message, .message-bar {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

.chat-box {
    padding: 2px;
    margin: 2px;
    border: 2px solid green;
}

.two-columns {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.message-bar {
    background-color: lightgray;
    padding-left: 50px;
    padding-top: 15px;
    height: 60px;
    border-radius: 15px;
}

.grey-text {
    color: grey;
}

