* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > * {
    min-height: 100vh;
    padding: 2px;
    margin: 2px;
    border: 2px solid black;
    font-size: 20px;
    font-family: sans-serif;
}

.main-layout > * {
    padding: 2px;
    margin: 2px;
    border: 2px solid red;
    height: 100vh;
}

.main-layout {
    display: grid;
    grid-template-columns: auto 300px 1fr;
}

/* LEFT SIDE - ICON LIST */

.left-side-bar {
    background-color: rgb(185, 185, 185);
}

.icon-list > li {
    padding: 2px;
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid orange;
    border-radius: 50%;
}

.icon-list {
    list-style-type: none;
}

.icon-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* MAIN SIDE */

.main {
    background-color: rgb(221, 221, 221);
}

.sidebar > * {
    padding: 2px;
    margin: 10px;
    border: 2px solid orange;
}

.invite-people {
    text-align: center;
}

.add-friends {
    margin-top: 15px;
}

.add-people {
    height: 120px;
    width: 150px;
    border-radius: 30%;
}

.space {
    height: 245px;
}

.username > * {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

.settings {
    padding-top: 15px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.pic-sm {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid blue;
}

button {
    padding: 15px;
    margin-top: 15px;
    color: white;
    background-color: rgb(121, 86, 219);
    opacity: 0.7;
    border: none;
    font-size: 15px;
}

.user-code {
    color: grey;
}

.name-sm {
    padding-top: 10px;
}

/* RIGHT SIDE */

.right-side-bar {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
}

.four-column-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.class-five, .space-two, .settings-list {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

.settings-list > * {
    height: 32px;
    width: 32px;
    padding: 2px;
    margin: 5px;
    border: 2px solid green;
}

.search-bar {
    width: 200px;
    color: grey;
    background-color: lightgray;
    border-radius: 10px;
}

.settings-list {
    list-style-type: none;
}

.grid-auto-column {
    display: grid;
    grid-auto-flow: column;
}

.right-bar-empty {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
    height: 590px;
}

.right-bar-welcome {
    padding: 2px;
    margin: 5px;
    border: 2px solid orange;
    height: 300px;
}

.welcome, .steven-message, .message-bar {
    padding: 5px;
    margin: 5px;
    border: 2px solid blue;
}

.chat-box {
    padding: 2px;
    margin: 2px;
    border: 2px solid green;
}

.two-columns {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.message-bar {
    background-color: lightgray;
    padding-left: 50px;
    padding-top: 15px;
    height: 60px;
    border-radius: 15px;
}

.grey-text, .date-time{
    color: grey;
}

.date-time {
    font-size: 15px;
}

.julia {
    color: rgb(54, 194, 36);
}

.blue-links {
    display: inline-flex;
    gap: 50px;
    padding-left: 10px;
}

.blue-link {
    color: rgb(118, 203, 252);
}


