* {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

.grid-linkdin {
    min-height: 100vh;

    display: grid;
    grid-template: 
    "header header header header header" 50px
    ". left-menu main right-menu ." 1fr /
    200px 400px 1fr 400px 200px;

    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: wheat;
}

.logo {
    grid-area: logo;
    border: 2px dashed black;

    height: 50px;
    width: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.search {
    grid-area: search;
    border: 2px dashed black;

    height: 50px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
}

.icons {
    grid-area: icons;
    border: 2px dashed black;

    height: 50px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
}

.left-menu {
    grid-area: left-menu;
    background-color: rgb(109, 141, 199);
}

.main {
    grid-area: main;
    background-color: wheat;
}

.right-menu {
    grid-area: right-menu;
    background-color: rgb(109, 141, 199);
}

@media screen and (max-width: 1236px) {
    .grid-linkdin {
        grid-template: 
        "header header header header header" 50px
        ". left-menu main right-menu ." 1fr /
        200px 1fr 200px;
    }
}

@media screen and (max-width: 719px) {
    .grid-linkdin {
        grid-template: 
        "header header" 50px
        "left-menu main" 1fr /
        70px 1fr;
    }
    .right-menu {
        display: none;
    }
}
