* {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

.grid-linkdin {
    min-height: 100vh;

    display: grid;
    grid-template: 
    "header header header header header" 50px
    ". left-menu main right-menu ." 1fr /
    1fr 1fr 2fr 1fr 1fr;

    grid-gap: 10px;
}

/* HEADER */

.header {
    grid-area: header;
    border: 2px dashed black;
}

/* MAIN */

.left-menu {
    grid-area: left-menu;
    border: 2px dashed black;
}

.main {
    grid-area: main;
    border: 2px dashed black;
}

.right-menu {
    grid-area: right-menu;
    border: 2px dashed black;
}

@media screen and (max-width: 1236px) {
    .grid-linkdin {
        grid-template: 
        "header header header header" 50px
        "left-menu main right-menu ." 1fr /
        1fr 2fr 1fr;
    }
}

@media screen and (max-width: 719px) {
    .grid-linkdin {
        grid-template: 
        "header header" 50px
        "left-menu main" 1fr /
        1fr 2fr;
    }
    .right-menu {
        display: none;
    }
}
